{% extends 'main.html' %}

{% block content %}
<center>
    <h2>About Us</h2><br><br>
    <div class="about">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum temporibus eveniet sapiente minus iste eaque quis necessitatibus fugiat! Minima ipsam aliquam nihil blanditiis deserunt alias pariatur harum molestiae quis vero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid placeat, voluptatem quibusdam quod maxime, repellendus, eaque tempora totam repellat saepe tempore optio. Sint aut, error mollitia enim dignissimos ipsa ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quisquam aperiam distinctio ducimus vitae, laboriosam, sit assumenda at, sed voluptatem corrupti maxime provident explicabo error. Iusto, non porro. Est, placeat.</p>

    </div>
</center>
{% endblock content %}