{% extends "main.html" %}
{% block content %}

<div class="profile-container">
    <h2>User Profile</h2>
    <h3>Username: {{ request.user.username }}</h3>
    <h3>User Verified: {{ request.user.is_authenticated }}</h3>
    <h3>First Name: {{ request.user.first_name }}</h3>
    <h3>Last Name: {{ request.user.last_name }}</h3>
    <h3>Email: {{ request.user.email }}</h3>


    <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Profile</a>
    <a href="{% url 'reset_pass' %}" class="btn btn-primary" >Reset Password</a>
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>

</div>
{% endblock content %}